#uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#uploadRecordHeading {
  font-size: 1.6rem;
  color: white;
  border-bottom: 1px dashed white;
  text-align: center;
  font-weight: 800;
  margin: 0.5rem 0;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#uploadRecordContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}

#uploadingInfo,
#uploadingContainer {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#notRegistered{
  color: red;
  font-size: 1.2rem;
  text-align: center;

  span{
    color: rgb(0, 0, 255);
    font-weight: bold;
    cursor: pointer;
  }
}

.button {
  background-color: #a994f1;
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #8064c5;
}

#recordingMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#uploadingRecord,
#chooseFile {
  display: flex;
  justify-content: space-between;
}

#chooseFile input {
  display: none;
}

#audioPreview {
  margin-top: 20px;
}

#audioPreviewControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#audioBtnContainer{
  display: flex;
  gap: 10px;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.uploadButton {
  background-color: green;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #uploadRecordContainer {
    grid-template-columns: 1fr;
  }

  #recordingMenu {
    flex-direction: column;
  }

  #uploadRecordHeading {
    font-size: 1.4rem;
  }

  .button {
    padding: 0.6rem 1.4rem;
    margin-top: 20px;
    font-size: 12px;
  }

  #uploadingInfo,
  #uploadingContainer {
    padding: 12px;
  }

  #audioBtnContainer {
    margin-top: 5px;
  }

  .deleteButton,
  .uploadButton {
    padding: 0.4rem 0.6rem;
  }

  #audioPreviewControls {
    flex-direction: column;
  }

  #chooseFile label {
    font-size: 12px;
  }
}
