.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #6a4f9b; /* Light purple color */
}

.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.uploadContainer {
  display: flex;
  align-items: center;
}

.uploadButton {
  margin-left: 10px;
}

.previewPic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #6a4f9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #5c4484;
}
