#previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#previewHeading {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin: 0.5rem 0;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.textarea {
  width: 70%;
  height: 30%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

#btnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 50%;
}

.previewBTN {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #a994f1;
  transition: all 0.5s ease-in-out;
}

.previewBTN:hover {
  background-color: #7e6cf8;
  cursor: pointer;
}
